[Unit]
Description=Leihs Audits Sync Timer

[Timer]
# run on the first Thursday every month:
OnCalendar=Sund *-*-1..7 02:00:00
RandomizedDelaySec=3600
Persistent=true

[Install]
WantedBy=timers.target
