[Unit]
Description=Leihs Audits-Archiver Service
After=syslog.target
After=network.target

BindsTo=leihs-admin.service

[Service]
Type=oneshot
RemainAfterExit=false
WorkingDirectory={{leihs_audits_archiver_root_dir}}
User={{leihs_audits_archiver_user}}
Environment=LEIHS_HTTP_URL=http://localhost
Environment=LEIHS_TOKEN={{leihs_api_token}}
Environment=TARGET_DIR={{leihs_audits_archive_dir}}
{% if start_date is defined %}
Environment=START_DATE={{start_date}}
{% endif %}
ExecStart=/usr/bin/java "-Xmx1014m" "-jar" "{{leihs_audits_archiver_jar_path}}"

[Install]
WantedBy=multi-user.target
